<!DOCTYPE html>
<html lang="en">

<head>
    <title>Bienestar Universitario</title>


    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Inicio</a>
                    </li>
                    <li role="presentation"><a href="#">Ingresar</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Registrarce</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Bienestar Universitario</h3>
        </div>

        <div class="jumbotron">
            <h1>Bienestar somos todos conectate!</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Haz Parte Ahora</a>
            </p>
        </div>

        <div class="row marketing">
            <div class="col-lg-6">
                <h4>Noticia</h4>
                <p>Regresa Recreado,Taller reflexivo"duelos",inscripcion torneos de futbol sal,muestra cultural y vacaciones recreativas</p>

                <h4>Toma</h4>
                <p>"..EL CUIDADO DE SI.. NUESTRO LEMA" Toma El control de tu vida Actividades Culturales y Academicas Busca generar conocimientos acerca de la dinámica de los jóvenes en el escenario universitario </p>

                <h4>Permanencia Academica</h4>
                <p>PROGRAMAS te quedas en la U EN LA FUNLAM, TU TAMBIÉN PONES LA SEMILLA PARA LA PERMANENCIA “la realización del ser humano, el compromiso que sabemos cumplir” </p>
            </div>

            <!-- <div class="col-lg-6"> -->
                <!-- <h4>Bucket List</h4> -->
                <!-- <p>Donec id elit non mi porta gravida at eget metus. Maecenas faucibus mollis interdum.</p> -->

                <!-- <h4>Bucket List</h4> -->
                <!-- <p>Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Cras mattis consectetur purus sit amet fermentum.</p> -->

                <!-- <h4>Bucket List</h4> -->
                <!-- <p>Maecenas sed diam eget risus varius blandit sit amet non magna.</p> -->
            <!-- </div> -->
        </div>

        <footer class="footer">
            <p>&copy; Fundacion Univeristaria Luis Amigo</p>
        </footer>

    </div>
</body>

</html>
